@{
    ViewBag.Title = "DescifradoEspiral";
}

<h2>Descifrado con método Espiral</h2>
@using (Html.BeginForm("DescifradoEspiral", "Encriptacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2></h2>
    <h4>Ingrese el Ancho de la matriz</h4>
    <input type="number" name="Ancho">
    <h3></h3>
    <h4>Ingrese el archivo</h4>
    <input type="file" name="ArchivoImportado" />
    <h3></h3>
    <input type="submit" value="Importar" class="btn btn-default" />
}
