
@{
    ViewBag.Title = "MenuEspiral";
}

<h2>Menu Encriptacion Espiral</h2>

<h3>Cifrado en espiral</h3>
@Html.ActionLink("Cifrar un archivo", "CifradoEspiral", "Encriptacion")
<h3>Descifrado en espiral</h3>
@Html.ActionLink("Descifrar un archivo", "DescifradoEspiral", "Encriptacion")
