@{    
 ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<h3>Cifrado Zig Zag</h3>
@Html.ActionLink("Encriptacion Zig Zag", "CifradoZigZag", "Encriptacion")
<h3>Cifrado en espiral</h3>
@Html.ActionLink("Encriptacion Espiral", "MenuEspiral", "Encriptacion")
<h3>Cifrado Cesar</h3>
@Html.ActionLink("Encriptacion Cesar", "CifradoCesar", "Encriptacion")
