@{    
 ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<h3>Cifrado Zig Zag</h3>
@Html.ActionLink("Cifrar un archivo", "CifradoZigZag", "SerieI")
<h3>Cifrado en espiral</h3>
@Html.ActionLink("Cifrar un archivo", "CifradoEspiral", "SerieI")
<h3>Cifrado Cesar</h3>
@Html.ActionLink("Cifrar un archivo", "CifradoCesar", "SerieI")
